<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#each image as |i|}}

    <div>{{i.imagename}}</div>
    <img src={{i.path}} alt="" style="width: 50px;">

    {{/each}}
    
</body>
</html>